<mat-toolbar color="primary" class="mat-elevation-z1" style="margin-bottom: 1px">
  <mat-toolbar-row>
    <section>
      <a [href]="urlDashboard">
        <img style="position: absolute; left: 40px; top: 10px; height: 45px;" class="mt-3"
             src="./assets/images/logo_large.png">
      </a>
    </section>

    <div class="avatar">
      <ngx-avatar [name]="jugador.nomYApe" [size]=sizeAvatar>
      </ngx-avatar>
      <button mat-button [disableRipple]="true" [matMenuTriggerFor]="menu">
        <span style="color: black;">{{jugador.nomYApe}}</span>
        <mat-icon [ngStyle]="{'color':'black'}">expand_more</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu" yPosition="below" xPosition='before' overlapTrigger="false">
      <button mat-menu-item style="font-size: 13px;" routerLink="/main-layout/dashboard">
        <mat-icon>search</mat-icon>
        <span>Disponibilidad</span>
      </button>
      <button mat-menu-item style="font-size: 13px;" routerLink="/main-layout/reservas">
        <mat-icon>calendar_today</mat-icon>
        <span>Tus Reservas</span>
      </button>
      <button mat-menu-item style="font-size: 13px;" routerLink="/main-layout/complejos">
        <mat-icon>sports_soccer</mat-icon>
        <span>Ver Complejos</span>
      </button>
      <!--<button mat-menu-item style="font-size: 13px;" routerLink="/main-layout/complejo">
        <mat-icon>payments</mat-icon>
        <span>Tus Pagos</span>
      </button>-->
      <button mat-menu-item style="font-size: 13px;" routerLink="/main-layout/modificar-datos">
        <mat-icon>person</mat-icon>
        <span>Modificar datos</span>
      </button>
      <button mat-menu-item style="font-size: 13px;" (click)="cerrarSesion()" href="javascript:void(0);">
        <mat-icon>power_settings_new</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<!--<div style="height: 100vh;">
     <div *ngIf="activeRoute.children.length === 0">
        <app-dashboard></app-dashboard>
    </div>
    &lt;!&ndash;CUANDO LA NAVEGACION SEA HASTA UN COMP HIJO (POR EJ /dashboard) MUESTRO EL CONTENIDO DEL HIJO Y NO DEL PADRE
    EL LOGIN AL INICIAR SESION VA A SER EL Q ME LLEVE AL /DASHBOARD&ndash;&gt;
    <div>
        <router-outlet *ngIf="activeRoute.children.length !== 0"></router-outlet>
    </div>
</div>-->
