<div *ngIf="isLoading | async" class="overlay">
  <mat-progress-spinner class="spinner"  color="primary"
                        mode="indeterminate" value="50">
  </mat-progress-spinner>
</div>

<!--CUANDO LA NAVEGACION SEA HASTA ESTA RUTA (COMPONENTE PADRE) MUESTRO LO Q ESTA DENTRO DEL DIV SOLAMENTE
LA RUTA VA A SER LA DEL LOGIN, PORQ EL RUTEO ESTA DEFINIDO ASI, ENTONCS INJECTO EL COMPONENTE LOGIN -->
<div *ngIf="activeRoute.children.length === 0">
  <app-main-layout></app-main-layout>
</div>
<!--CUANDO LA NAVEGACION SEA HASTA UN COMP HIJO (POR EJ /dashboard) MUESTRO EL CONTENIDO DEL HIJO Y NO DEL PADRE
EL LOGIN AL INICIAR SESION VA A SER EL Q ME LLEVE AL /DASHBOARD-->
<div>
  <router-outlet *ngIf="activeRoute.children.length !== 0"></router-outlet>
</div>
