<div class="container">
  <div align="center"><h1>Detalle de reserva: {{reservaSelected.fecha}}</h1></div>
  <mat-divider></mat-divider>
  <br>
  <div style="margin-left: 30px">
    <h3><strong>Código: </strong> {{reservaSelected.codigo}}</h3>
    <h3><strong>Medio: </strong> {{reservaSelected.automatica ? 'Automatica' : 'Manual'}}</h3>
    <h3><strong>Tipo: </strong> {{turnoFijoText}}</h3>
    <h3><strong>Estado: </strong> {{reservaSelected.estado}}</h3>
    <br>
    <h2 align="center" style="color:#ff5722;">Detalles del pago</h2>
    <mat-divider></mat-divider>
    <br>

    <div align="center" *ngIf="listaPagos?.length == 0 && reservaSelected.estado == reservaConfirmada">
      <br>
      <img src="./assets/images/information.png" alt="information">
      <br>
      <h2>Tu reserva se encuetra impaga</h2>
      <br>
      <button mat-raised-button color="primary" (click)="abonarFecha()"> Abonar fecha</button>
    </div>

    <div align="center" *ngIf="listaPagos?.length == 0 && (reservaSelected.estado == reservaAnulada || reservaSelected.estado == reservaFinalizada)">
      <br>
      <img src="./assets/images/information.png" alt="information">
      <br>
      <h2 style="width: 250px">No se registraron pagos para esta reserva</h2>
    </div>

    <div *ngIf="listaPagos?.length == 1" style="margin-left: 30px">
      <h3><strong><span style="color: #3f51b5">N° de referencia: </span></strong> {{listaPagos[0].numeroPago}}</h3>
      <h3><strong><span style="color: #3f51b5">Estado de pago:</span> </strong> {{listaPagos[0].estado}}</h3>
      <h3><strong><span style="color: #3f51b5">Medio de pago: </span></strong> {{listaPagos[0].medioPago}}</h3>
      <h3><strong><span style="color: #3f51b5">Fecha: </span></strong> {{listaPagos[0].fecha | date: "dd-MM-yyyy"}}</h3>
      <h3><strong><span style="color: #3f51b5">Importe: </span></strong> {{listaPagos[0].importe | currency: "ARS"}}</h3>
    </div>

    <div *ngIf="listaPagos.length > 1" style="margin-left: 30px">
      <br>
      <h2 align="center" style="color: #1F8A4D;">Detalles del reintegro</h2>
      <mat-divider></mat-divider>
      <br>
      <h3><strong><span style="color: #3f51b5">Importe: </span></strong> {{listaPagos[1].importe | currency: "ARS"}}</h3>
      <h3><strong><span style="color: #3f51b5">Fecha de reintegro: </span></strong> {{listaPagos[1].fecha | date: "dd-MM-yyyy"}}</h3>
    </div>
    <br>
  </div>
</div>

