<h2>Anulación de reserva</h2>
<mat-divider></mat-divider>
<br>
<h3 style="text-align: justify">Tené en cuenta que al anular la reserva se te descontará un mínimio importe
  por gastos en nuestros servicios de pago electrónico. Además, deberás asistir al complejo donde realizaste la reserva
  para que te reintegren el dinero.</h3>
<br>
<div align="end">
  <button mat-button mat-raised-button color="basic" (click)="confirmarAnulacion()">Aceptar</button>
  <span style="margin-right: 15px"></span>
  <button mat-button mat-raised-button color="accent" mat-dialog-close>Cancelar</button>
</div>

