/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*SOBREESCRIBO EL ALTO DEL CONTENIDO EN RESERVAS DEL SCHEDULER*/
.cal-scheduler-event-content{
  max-height: 40px !important;
}
