.example-container {
  width: 100%;
  height: 91vh;
}

.margin-left{
  margin-left: 355px;
}

h3{
  margin-bottom: 5px;
}

/*
@media screen and (min-width: 0px) and (max-width: 430px) {
  #drawerReserva { display: none; }   !* hide it elsewhere *!
}
*/
